.filter-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  @media only screen and (max-width: 717px) {
    flex-wrap: wrap;
  }
}
.filter-container__item {
  margin-right: 10px;

  @media only screen and (max-width: 717px) {
    margin: 10px;
  }
}
